html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    scrollbar-width: thin;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    width: 100%;
    padding: 0;
    border: 0;
    outline: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Asar', serif, "Times New Roman";
}

ul, ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display: block
}

:active {
    outline: none
}

a {
    color: inherit;
    background-color: transparent;
    text-decoration: none
}

a:active, a:hover {
    outline: 0
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-size: inherit;
    font-weight: inherit
}


button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0
}


input {
    line-height: normal;
    -webkit-appearance: none;
    border-radius: 0
}


.header {
    position: fixed;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    z-index: 5;
    background: #fff;
    color: #1c1b1b;
    box-shadow: 0 -.2px #000000 inset;
    transition: 0.3s ease-in-out;
}

main {
    top: 0;
    position: absolute;
    width: 100%;
}

.image-fill {
    width: 100%;
    position: relative;
    vertical-align: bottom;
}

.image-content {
    position: absolute;
    margin: 0 calc(100px + 10vw);
    color: white;
    top: 0;
    bottom: 0;
}

.flex-footer {
    position: absolute;
    left: 0;
    top: 20%;
}

h1 {
    font-size: 50px;
}

h2 {
    font-family: Avenir, serif;
    padding: 40px 0 0 6px;
    font-size: 30px;
}

h3 {
    font-size: 40px;
}

h4{
    font-size: 30px;
}

p{
    font-size: 24px;
}

.large-text {
    font-size: 100px;
}

.big-text{
    font-size: 70px;
}

.grey-text{
    color: #a9a9a9;
}

footer p{
    color: white;
}

.name {
    font-size: 60px;
    padding-right: 600px;
}

.section {
    height: 100%;
    width: 100%;
    position: relative;
    float: left;
}

.image-fill::after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.image-content::before {
    content: ' ';
    display: inline-block;
    height: calc(140px + 25%);
}

.flex-hoz-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}


.header-icon {
    display: block;
    line-height: 1;

}

.header-transparent {
    background: transparent;
    color: white;
    box-shadow: 0 -.2px #fff inset;

}

.header-icon .nav {
    height: 30px;
    width: 30px
}

.header-icon .cart {
    width: 30px;
    height: 30px
}

@media screen and (min-width: 700px) {
    .padding-header {
        padding: 18px 30px
    }

    .flex-col-wrapper {
        height: auto;
    }

    .item {
        width: 100%;
    }
}

.flex-cat-item {
    width: 25vw;
    height: 650px;
    background-color: #a9a9a9;
}

.text-center {
    text-align: center;
}

.padding-header {
    padding: 20px 55px
}

.padding-small{
    padding: 30px;
}

.padding-medium {
    padding: 70px;
}

.padding-large {
    padding: 120px;
}

.margin-top {
    margin-top: 100px;
}

.margin-top-med{
    margin-top: 60px;
}

.margin-bot {
    margin-bottom: 100px;
}

.margin-bot-small {
    margin-bottom: 10px;
}

.hover-in-text h1 {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    position: relative;
    top: 350px;
    opacity: 0;
    color: white;
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
}

.hover-in-text:hover h1 {
    opacity: 1;
    -webkit-transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0);
    transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0);
}

.hover-in-text::before {
    content: ' ';
    width: 25vw;
    height: 650px;
    background: rgba(0, 0, 0, .3);
    opacity: 0;
    position: absolute;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;

}

.hover-in-text:hover::before {
    opacity: 1;
}



.flex-col-wrapper {

    width: 100%;
}

.item-2{
    width: 50%;
}

.item-4{
    width: 25%;
}

.item {
    position: relative;
    text-align: justify;
    float: left;
}

.item img {
    width: 100%;
    display: block;
    transition: all .8s;
}

.item .flex-hoz-wrapper p {
    display: inline-block;
}

.product-header-info{
    margin-top: -50px;
    padding-left: 35px;
    font-family: Avenir;
}

.product-header-right{
    text-align: right;
    font-family: Avenir;
    padding-top: 100px;
}

select{
    padding-top: 7px;
    padding-right: 14px;
    padding-left: 14px;
    padding-bottom: 7px;
    margin-top: 4px;
    margin-right: 0;
    margin-left: 30px;
    margin-bottom: 0;
    font-size: 19px;
}